.git
.github
.gitignore
.idea
.workbuddy
*.iml
*.log
README.md
LICENSE
target/classes
target/generated-sources
target/generated-test-sources
target/test-classes
target/maven-archiver
target/maven-status
target/surefire-reports
target/site
target/*.jar.original
help/*.png
help/*.gif
